/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/*.root{
    -fx-font-size: 16pt;
    -fx-font-family: "Courier New";
    -fx-base: rgb(132, 145, 47);
    -fx-background: rgb(225, 228, 203);
}*/

.root{
    -fx-font-size: 8pt;
/*    -fx-font-family: "Courier New";
    -fx-base: rgb(132, 145, 47);
    -fx-background: rgb(225, 228, 203);*/
}

.button {
    -fx-background-color: orange;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.buttonPlus {
    -fx-background-color: green;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.buttonRemove {
    -fx-background-color: red;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/*.BigNukleosomNew {
    -fx-background-color: red;
}*/

/*.rectPane {
    -fx-background-color: green;
}*/

.text-area {
    -fx-font-size: 14;
}

.combo-box-base  
{
/*-fx-skin: "com.sun.javafx.scene.control.skin.ComboBoxBaseSkin";*/
-fx-background-color: white, white, white, white;
/*-fx-background-radius: 5, 5, 4, 3;
-fx-background-insets: 0 0 -1 0, 0, 1, 2;*/
-fx-padding: 0;
}

.combo-box > .list-cell {
    -fx-padding: 0 0 0 0;
    -fx-border-insets: 0 0 0 0;
}

.combo-box-base > *.arrow-button {
    -fx-padding: 0 0 0 0;
    -fx-background-color: white, white, white, white;
}

.split-pane-divider {
/*   -fx-background-color: transparent;*/
    -fx-width: 2;
}

#address .scroll-bar
{
    -fx-padding: 0;
    -fx-width: 0;
    -fx-height: 0;
    -fx-opacity: 0;
    -fx-background-color: transparent;
    -fx-visibility: hidden;
    visibility: hidden;
}

#address .scroll-bar .increment-button {
  visibility: hidden;
}

#address .scroll-bar .decrement-button {
  visibility: hidden;
}

#address .scroll-bar:horizontal {
  -fx-background-color: transparent;
}

#address .scroll-bar:horizontal .track {
  visibility: hidden;
}

#address .scroll-bar:horizontal .track-background {
  visibility: hidden;
}

#address .hide-thumb .scroll-bar:horizontal .thumb {
  -fx-background-color: transparent;
}

#fancytext {
    /*-fx-font: 100px Tahom;*/
    /*-fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);*/
/*    -fx-font-size: 11pt;
    -fx-fill: black;
    -fx-font-weight: bold;
    -fx-stroke: white;*/
    /*-fx-stroke-width: 1;*/
    -fx-background-color: rgba(255,255,255,0.7);
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: white;
}